/*========Login body style========*/
.login_body{
    background-image: linear-gradient(to left top, #ffffff, #fbf7fd, #faeff9, #fce6f1, #fedde6, #ffdcdc, #ffddd3, #fbdfcb, #f2e9d0, #e8f3dd, #e3faed, #e6fffd);
    font-family: 'Poppins', sans-serif;
}

/*========LOGIN STYLE========*/
.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: drop-down 0.8s ease-in;
}

    @keyframes drop-down{
      from{top:10%}
      to{top:50%}
    }

/*========Login body========*/
#loginbody{
  border-radius: 20px;
  height: 380px;
  width: 600px;

  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -250;
  margin-left: -300;
  background-color: #b5d8e6d3;
  box-shadow: 1px 3px 30px 8px rgba(221, 170, 221, 0.411);
}

/*========login form input: user========*/
#login_username{
  height: 50px;
  width: 480px;
  border-radius: 20px;
  border: 0px;
  text-align: center;

  font-family: 'Poppins', sans-serif;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120;
  margin-left: -240;
}
/*========Login form input: pass========*/
  #pass_username{
    height: 50px;
    width: 480px;
    border-radius: 20px;
    border: 0px;
    text-align: center;

    font-family: 'Poppins', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50;
    margin-left: -240;
  }
/*========Login form button========*/
#login_button{
  height: 50px;
  width: 480px;
  border-radius: 20px;
  border: 0px;
  background-color: #6dacd6a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;

  font-family: 'Poppins', sans-serif;

  position: absolute;
  top:50%;
  left:50%;
  margin-top: 20;
  margin-left: -240;
}
/*========Login form button hove effect========*/
#login_button:hover {
  background-color: #ddd8d8a2; 
  cursor: pointer; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* ========END OF LOGIN STYLE=======*/

/*====== LOGO ======*/

.logo{
  position: absolute;
  top:8%;
  left:43.33%;
  width: 80px;
  height: auto;
  margin-bottom: 5px;
}
